.App {
  text-align: center;
}

.App button {
  display: inline-block;
  border: 2px solid #333;
  padding: 20px;
}

.App .counter {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  min-width: 100px;
}